.vs/
Sweetie/vendor/GLAD/GLAD.vcxproj.user
Sweetie/vendor/GLAD/bin-int/
Sweetie/vendor/GLAD/bin/
Sweetie/vendor/GLFW/bin-int/
Sweetie/vendor/GLFW/bin/
bin-int/
bin/
.sln
.vcxproj
.vcxproj.filters
.vcxproj.user